@font-face {
  font-family: Futura;
  src: url('./fonts/futura_medium_weight.ttf') format ('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Futura;
  src: url('./fonts/futura_medium2.otf') format ('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Futura;
  src: url('./fonts/futura_regular.otf') format ('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Futura;
  src: url('./fonts/futura_light.otf') format ('opentype');
  font-weight: 100;
  font-style: normal;
}
