@font-face {
  font-family: futura;
  src: url('./fonts/english/futura-medium/futura_medium_bt-webfont.eot'); /* IE9 Compat Modes */
  src: url('./fonts/english/futura-medium/futura_medium_bt-webfont.eot?#iefix') format('embedded-opentype'), /* IE6 - 8 */
       url('./fonts/english/futura-medium/futura_medium_bt-webfont.ttf') format('truetype'),
       url('./fonts/english/futura-medium/futura_medium_bt-webfont.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: futuraBT;
  src: url('./fonts/english/futurabt/futurabt-book-opentype.eot');
  src: url('./fonts/english/futurabt/futurabt-book-opentype.eot?#iefix') format('embedded-opentype'),
       url('./fonts/english/futurabt/futurabt-book-opentype.ttf') format('truetype'),
       url('./fonts/english/futurabt/futurabt-book-opentype.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: kozukaGothic;
  src: url('./fonts/english/kozuka-gothic/KozGoPr6N-Regular.eot');
  src: url('./fonts/english/kozuka-gothic/KozGoPr6N-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/english/kozuka-gothic/KozGoPr6N-Regular.ttf') format('truetype'),
       url('./fonts/english/kozuka-gothic/KozGoPr6N-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: futuraLTProLight;
  src: url('./fonts/english/futuraLTProLight/Linotype - FuturaLTPro-Light.eot');
  src: url('./fonts/english/futuraLTProLight/Linotype - FuturaLTPro-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/english/futuraLTProLight/Linotype - FuturaLTPro-Light.ttf') format('truetype'),
       url('./fonts/english/futuraLTProLight/Linotype - FuturaLTPro-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* * * * * * * * * * *
 * Chinese simplified
 * * * * * * * * * * */

@font-face {
  font-family: chiSimplified;
  src: url('./fonts/chi-simplified/light/MHeiHKS-Light.eot');
  src: url('./fonts/chi-simplified/light/MHeiHKS-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/chi-simplified/light/MHeiHKS-Light.ttf') format('truetype'),
       url('./fonts/chi-simplified/light/MHeiHKS-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: chiSimplified;
  src: url('./fonts/chi-simplified/light/MHeiHKS-Medium.eot');
  src: url('./fonts/chi-simplified/light/MHeiHKS-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/chi-simplified/light/MHeiHKS-Medium.ttf') format('truetype'),
       url('./fonts/chi-simplified/light/MHeiHKS-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* * * * * * * * * * *
 * Chinese traditional
 * * * * * * * * * * */
 @font-face {
   font-family: chiTraditional;
   src: url('./fonts/chi-traditional/light/MHeiHK-Light.eot');
   src: url('./fonts/chi-traditional/light/MHeiHK-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/chi-traditional/light/MHeiHK-Light.ttf') format('truetype'),
        url('./fonts/chi-traditional/light/MHeiHK-Light.otf') format('opentype');
   font-weight: lighter;
   font-style: normal;
 }

 @font-face {
   font-family: chiTraditional;
   src: url('./fonts/chi-traditional/medium/MHeiHK-Medium.eot');
   src: url('./fonts/chi-traditional/medium/MHeiHK-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/chi-traditional/medium/MHeiHK-Medium.ttf') format('truetype'),
        url('./fonts/chi-traditional/medium/MHeiHK-Medium.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
 }
