/* * * * * * * * * * * * * * * * * * * * * * *
 * Device screen size
 * Usage: @include responsive(mobile) { ... }
 *        @include responsive(transition){ ... }
 *        @include responsive(desktop) { ... }
 * * * * * * * * * * * * * * * * * * * * * * */

$mobile-small-width: 320px;
$mobile-large-width: 1024px;
$desktop-large-width: 1280px;

/* * * * * * * * * * * * * * * * * * * * * * *
 * Colors
 * * * * * * * * * * * * * * * * * * * * * * */

 $dark-blue: #232f49;
 $light-gray: #dfdfe1;
 $dark-gray: #9e9da2;
