/* * * * * * * * * * * * * * * * * * * * * * *
 * Device screen size
 * Usage: @include responsive(mobile) { ... }
 *        @include responsive(transition){ ... }
 *        @include responsive(desktop) { ... }
 * * * * * * * * * * * * * * * * * * * * * * */

$mobile-width: 640px;
$mobile-desktop-transition-width: 1024px;
$desktop-large-width: 1280px;

/* * * * * * * * * * * * * * * * * * * * * * *
 * Colors
 * * * * * * * * * * * * * * * * * * * * * * */

 $dark-blue: #000333
 $light-gray: #e6e6e6
 $dark-gray: #999999 
