* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: futuraEnglish;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

div {
  box-sizing: border-box;
}

sup {
  font-size: 12px;
  line-height: 12px;
  vertical-align: super;
}

.section-container {
  position: relative;
  overflow: hidden;
}

.blue-box {
  h1, h2, h3, h4, h5 {
    color: white;
  }
  background-color: $dark-blue;
  position: relative;
}

.image {
  position: absolute;
}

.white-line {
  z-index: 5;
  height: 1px;
  width: 200%;
  background-color: white;
  position: relative;
}

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
}
.background-cover {
  @extend .background-image;
  background-size: cover;
}

.background-contain {
  @extend .background-image;
  background-size: contain;
}
