* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

sup {
  font-size: 12px;
  line-height: 12px;
  vertical-align: super;
}

.section-container {
  position: relative;
  overflow: hidden;
}

.blue-box {
  color: white;
  background-color: $dark-blue;
  position: relative;
}

.white-line {
  height: 1px;
  width: 200%;
  background-color: white;
  position: relative;
}

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
}

.background-cover {
  @extend .background-image;
  background-size: cover;
}

.background-contain {
  @extend .background-image;
  background-size: contain;
}

/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}

/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  @include transition((all 600ms linear));
  @include transform(translate3d(-100px, 0px, 0px));
}

.animation-element.slide-left.in-view {
  opacity: 1;
  @include transform(translate3d(0px, 0px, 0px));
}

/*animation element sliding right*/

.animation-element.slide-right {
  opacity: 0;
  @include transition((all 600ms linear));
  @include transform(translate3d(100px, 0px, 0px));
}

.animation-element.slide-right.in-view {
  opacity: 1;
  @include transform(translate3d(0px, 0px, 0px));
}

/*animation element fade*/

.animation-element.fade {
  opacity: 0;
  @include transition((all 1s linear));
}

.animation-element.fade.in-view {
  opacity: 1;
  @include transition((all 1s linear));
}
.animation-element.fade-button {
  opacity: 0;
  @include transition((all 800ms linear));
}

.animation-element.fade-button.in-view {
  opacity: 0.5;
  @include transition((all 800ms linear));
}

/* IMAGE MODAL */

/* Modal Background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  height: 100%;
}

/* Fade in Modal */
.modal-content, .modal {
  @include animation((modal-fade 1s));
}

@-webkit-keyframes modal-fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes modal-fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes modal-fade {
  from   { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes modal-fade {
  from  { opacity: 0; }
  to { opacity: 1; }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
    max-width: 1280px;
    height: auto;
    padding-top: 50vh;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
 * To horizontally center float elements
 * Place the float elements inside the fixer container
 *  inside the main container.
 * * * * * * * * * * * * * * * * * * * * */
.main-float-container {
  float: left;
  position: relative;
  left: 50%;
}
.fixer-float-container {
  float: left;
  position: relative;
  left: -50%;

  @extend .clearfix;
}

.chinese-char {
  //font-family: futuraChinese;
}

.grid {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid-item {
    float: left;
    position: relative;
  }
  .grid-item.full {
    width: 100%;
  }
  .grid-item.one-half {
    width: 50%;
  }
  .grid-item.one-third {
    width: 33.33%;
  }
  .grid-item.two-third {
    width: 66.66%;
  }
  .grid-item.one-fourth {
    width: 25%;
  }
  .grid-item.three-fourth {
    width: 75%;
  }
  .grid-item.one-fifth {
    width: 20%;
  }
  .grid-item.two-fifth {
    width: 40%;
  }
  .grid-item.three-fifth {
    width: 60%;
  }
  .grid-item.four-fifth {
    width: 80%;
  }
  .grid-item.one-sixth {
    width: 16.66%;
  }
  .grid-item.five-sixth {
    width: 83.33%;
  }
  .grid-item.one-eighth {
    width: 12.5%;
  }
  .grid-item.three-eighth {
    width: 37.5%;
  }
  .grid-item.five-eighth {
    width: 62.5%;
  }
  .grid-item.seven-eighth {
    width: 87.5%;
  }
}
