* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  width: 100%;
}

div {
  box-sizing: border-box;
}

h1 {
  line-height: 52px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;

  @include responsive(mobile){
    line-height: 45px;
    font-size: 30px;
  }
}

h2 {
  line-height: 30px;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;

  @include responsive(mobile) {
    font-size: 30px;
    line-height: 18px;
  }
}

h3 {
  line-height: 36px;
  font-size: 26px;
  font-weight: 100;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;

  @include responsive(mobile){
    line-height: 24px;
    font-size: 18px;
  }
}

h4 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  @include responsive(transition){
    font-size: 20px;
    line-height: 30px;
  }

  @include responsive(mobile){
    font-size: 16px;
    line-height: 28px;
  }
}

span, p {
  position: relative;
  line-height: 25px;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  letter-spacing: 0.007em;

  @include responsive(mobile) {
    font-size: 15px;
  }
}

.desktop-only {
  @include responsive(desktop){
    //display: none;
  }
}

.transition-only {
  //display: none;
  @include responsive(transition){
    //display: inline-block;
  }
}

.mobile-only {

}

.section-container {
  position: relative;
  overflow: hidden;
}

.title-center {
  position: absolute;
  top: 45%;
  background-color: transparent;
  text-align: center;
  left: 10%;
  width: 80%;
}

.transparent-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 1px solid white;
  padding: 5px 10px;
  margin-top: 10px;

  @include responsive(mobile){
    width: 45%;
  }
}

.blue-box {
  h1, h2, h3, h4, h5 {
    color: white;
  }
  background-color: $dark-blue;
  position: relative;
}

.image {
  position: absolute;
}

.white-line {
  height: 1px;
  background-color: white;
  position: relative;
}

.link-menu {
  position: absolute;
  border-bottom: 1px solid white;
  background-color: black;
  opacity: .5;
  right: 0;
  bottom: 50px;
  padding: 8px;
}

.background-image {
  height: 80vw;
  min-height: 50vh;
  max-width: 120%;
  position: absolute;
}
