h1 {
  line-height: 52px;
  font-size: 37px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include responsive(transition){
    line-height: 52px;
    font-size: 36px;
  }

  @include responsive(mobile){
    line-height: 35px;
    font-size: 24px;
  }
}

h2 {
  line-height: 32px;
  font-size: 30px;
  font-weight: 100;
  width: 100%;
  box-sizing: border-box;

  @include responsive(mobile) {
    font-size: 24px;
    line-height: 30px;
  }
}

h3 {
  line-height: 40px;
  font-size: 23px;
  text-align: left;
  width: 100%;
  font-weight: 700;
  box-sizing: border-box;
  letter-spacing: 2px;

  @include responsive(transition){
      line-height: 35px;
      font-size: 22px;
  }

  @include responsive(mobile){
    line-height: 30px;
    font-size: 15px;
  }
}

h4 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: .5px;

  @include responsive(mobile){
    font-size: 13px;
    line-height: 15px;
  }
}

span, p {
  font-weight: 700;
  position: relative;
  line-height: 40px;
  font-size: 25px;
  margin: 0;
  letter-spacing: 0.007em;

  @include responsive(transition){
    line-height: 33px;
    font-size: 22px;
  }
  @include responsive(mobile) {
    line-height: 30px;
    font-size: 15px;
  }
}

br {
  line-height: 30px;
}

.chinese-chars {
  font-family: futuraChinese;

  h2 {

  }
}

.english-chars {
  font-family: futuraEnglish;
}
