#clubhouse-section {
  @extend .clearfix;
  position: relative;
  color: white;
  background-color: $light-gray;
  height: 96vh;

  h1 {
    line-height: 55px;
    font-size: 38px;

    @include responsive(mobile) {
      line-height: 28px;
      font-size: 20px;
    }
  }

  h2 {
    text-align: center;
    margin: 2px;
    margin-left: 5px;
    padding-right: 12px;

    @include responsive(mobile) {
      padding-top: 2px;
      line-height: 20px;
      font-size: 18px;
    }
  }

  h3 {
    line-height: 32px;
    font-size: 20px;
    letter-spacing: 1px;

    @include responsive(mobile) {
      line-height: 19px;
      font-size: 12px;
    }
  }

  .link-menu {
    position: absolute;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, .3);
    right: 0;
    bottom: 80px;

    @include responsive(mobile) {
      // bottom: 40px;
      bottom: 50px;
    }
  }
}

.clubhouse-image-container {
  height: 96vh;

  @extend .background-cover;
  background-image: url("./images/clubhouse-section/club1.jpg");
  position: relative;
  float: right;
  width: 64.5%;

  @include responsive(transition){
    // .image {
    //   object-fit: cover;
    //   height: 100%;
    //   width: auto;
    //   right: 0;
    // }
    width: 64%;
  }

  @include responsive(mobile){
    // .image {
    //   object-fit: cover;
    //   height: 100%;
    // }

    height: 84.5vh;
    width: 100%;
  }
}
.clubhouse-blue-box-container {
  overflow-y: visible;
  float: left;

  padding-bottom: 150px;
  padding-top: 65px;
  width: 35.5%;

  @include responsive(mobile) {
    width: 0;
    top: 0;
    padding-bottom: 0;

  }
  //padding-left: calc(35.5% - 330px);
}
.clubhouse-blue-box {
  @extend .blue-box;
  position: relative;
  padding: 40px;
  padding-top: 30px;
  //left: 50px;
  // right: -65px;
  // left: auto;
  left: calc(100% - 395px);
  width: 460px;
  //max-width: 460px;
  height: 610px;

  .white-line {
    left: -469px;
    margin-top: 14px;
    margin-bottom: 38px;
  }

  // @include responsive(transition){
  //   right: auto;
  //   width: 60%;
  //   min-height: 70vh;
  //   margin-top: 3vh;
  //   margin-left: 5vw;
  // }

  @include responsive(mobile){
    left: 0;
    top: 0;
    padding: 24px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-left: 0px;
    margin-top: 0px;
    width: 66%;
    min-height: 400px;

    .white-line {
      margin-bottom: 22px;
      left: -8vw;
      width: 90%;
    }
  }
}

.scroll-textbox {
  height: 350px;
  overflow-y: scroll;
}
