#clubhouse-section {

  $section-height: 669px;
  $image-container-height: $section-height;

  $link-menu-width: 174px;
  $link-menu-width-mobile: 100px;

  $link-menu-bottom: 41px;
  $link-menu-bottom-mobile: 30px;

  $image-container-width: 75%;
  $image-container-width-trans: 60%;

  $bluebox-container-width: 100% - $image-container-width;
  $bluebox-container-width-trans: 100% - $image-container-width-trans;

  $bluebox-height: 452px;
  $bluebox-image-overlap: calc(100% - 286px); // including 8px side-scroll-width
  $bluebox-image-overlap-trans: calc(100% - 276px);

  $text-area-height: 225px;

  $white-line-left: -250px;

  @extend .clearfix;
  position: relative;
  color: $light-gray;
  background-color: $light-gray;

  /* * * * * * * * * * * * * * * *
  * Text styles
  * * * * * * * * * * * * * * * */

  .club-title-text {
    font-family: futura;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.025em;
    line-height: 33px;
    text-transform: uppercase;

    @include responsive(mobile) {
      line-height: 28px;
      font-size: 20px;
    }
  }

  .club-description-text {
    font-family: futura;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.025em;
    line-height: 25px;

    @include responsive(mobile) {
      line-height: 18px;
      font-size: 12px;
    }
  }

  .link-text {
    font-family: futuraLTProLight;
    font-weight: lighter;
    font-size: 17px;
    letter-spacing: 0.025em;
    text-align: center;

    margin: 6px;
    margin-left: 5px;
    padding-right: 60px;


    @include responsive(mobile) {
      padding-top: 2px;
      padding-right: 2px;
      line-height: 20px;
      font-size: 18px;
    }

    .the-text {
      font-style: italic;
    }
  }

  .link-menu {
    position: absolute;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, .5);
    right: 0;

    bottom: 41px;

    @include responsive(mobile) {
      bottom: 33px;
    }
  }

  .clubhouse-image-container {
    height: $image-container-height;

    @extend .background-cover;
    background-image: url("./images/clubhouse-section/club1.jpg");
    background-position: left;
    background-size: cover;
    position: relative;
    float: right;
    width: $image-container-width;

    @include responsive(transition){
      width: $image-container-width-trans;
    }

    @include responsive(mobile){
      background-position: left;
      top: 11.5vh;
      min-height: 570px;
      height: 570px;
      width: 100%;
    }
  }

  #clubImage {
    cursor: pointer;
    transition: 1s;
  }

  .clubhouse-blue-box-container {
    overflow-y: visible;
    float: left;

    padding-top: 54px;
    width: $bluebox-container-width;

    @include responsive(transition) {
      width: $bluebox-container-width-trans;
    }

    @include responsive(mobile) {
      width: 0;
      top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .clubhouse-blue-box {
    @extend .blue-box;
    position: relative;
    padding: 60px 40px;
    left:  $bluebox-image-overlap;
    width: 337px;
    height: $bluebox-height;


    .white-line {
      left: $white-line-left;
      margin-top: 23px;
      margin-bottom: 23px;
    }

    @include responsive(transition) {
      left: $bluebox-image-overlap-trans;
    }

    @include responsive(mobile){
      left: 0;
      top: 0;
      padding: 30px 20px 20px 24px;
      margin-left: 0px;
      margin-top: 0px;
      max-height: 400px;
      width: 250px;

      .white-line {
        margin-bottom: 22px;
        left: -8vw;
        width: 90%;
      }
    }
  }

  .scroll-textbox-area {
    height: $text-area-height;
    overflow-y: auto;
    margin-right: -300px;
    padding-right: 300px;

    @include responsive(mobile) {
      height: 240px;
    }
  }

  .hide-scroll{
    height: $text-area-height;
    overflow: hidden;

    @include responsive(mobile) {
      height: 240px;
    }
  }

  .wheelbutton-container {
    width: 100px;
    float: right;
    padding-left: 75px;
    margin-top: -2px;

    @include responsive(mobile) {
      padding-left: 90px;
      margin-top: -28px;
    }
  }

  .next-prev-wheelbutton {
    height: 100px;
    width: 100px;
    background-color: black;

    @include responsive(mobile) {
      height: 85px;
      width: 85px;
    }
  }
}
