#companyinfo-section {

  $side-padding: 100px;
  $side-padding-mobile: 10px;


  color: white;
  text-align: center;

  .background {
    z-index: -1;
    background-color: $dark-blue;
    transition: bottom 1500ms;
    transition-delay: 0ms;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 100%;

  }

  &.active {
    .background {
      transition-delay: 1000ms;
      bottom: 0;
    }
  }

  .companyinfo-body-container {
    width: 92%;
    position: relative;
    margin: 0 auto 105px auto;
    text-align: center;

    @include responsive(mobile) {
      width: 100%;
    }
  }

  .company-logo {
    display: inline-block;
    vertical-align: top;
    padding-top: 96px;
    padding-right: $side-padding;
    padding-left: $side-padding;

    @include responsive(mobile) {
      padding-right: $side-padding-mobile;
      padding-left: $side-padding-mobile;
      padding-top: 37px;
    }

    p {
      font-family: futura;
      font-weight: normal;
      font-size: 15px;
      letter-spacing: 0.025em;
      line-height: 26px;

      @include responsive(mobile){
        line-height: 14px;
        font-size: 11px;
      }
    }

    .image {
      top: 35px;
      height: 42px;
      width: auto;
      position: relative;
      margin: auto;
      margin-bottom: 40px;

      @include responsive(mobile) {
        top: 22px;
        height: 20px;
        width: auto;
        margin-bottom: 25px;
      }
    }
  }

  .disclaimer {
    position: relative;
    padding: 40px 80px;

    @include responsive(mobile) {
      padding: 0;
      padding-bottom: 20px;
    }

    .title {
      font-family: futura;
      font-weight: normal;
      font-size: 21px;
      letter-spacing: 0.025em;
      line-height: 26px;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 20px;

      // @include responsive(transition){
      //     line-height: 35px;
      //     font-size: 22px;
      // }

      @include responsive(mobile){
        font-size: 10px;
        margin-bottom: 0;
      }
    }

    p {
      font-family: futuraBT;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.025em;
      line-height: 25px;
      position: relative;
      margin: 0;

      // @include responsive(transition){
      //   line-height: 33px;
      //   font-size: 22px;
      // }
      @include responsive(mobile) {
        line-height: 14px;
        font-size: 11px;
        padding: 20px;
      }
    }
  }
}
