#companyinfo-section {
  h1, h3, p {
    color: white;
    text-align: center;
  }

  p {
    padding: 40px;
    padding-bottom: 200px;
  }
}

.companyinfo-body-container {
  background-color: $dark-blue;
  width: 95vw;
  position: relative;
  margin: 0 auto auto auto;
  text-align: center;

  @include responsive(mobile) {
    width: 100%;
  }
}

.companylogo {
  vertical-align: top;
  padding-top: 40px;
  display: inline-block;
  margin: 20px;
}

.disclaimer {
  margin: 40px 30px;
  h3 {
    text-transform: uppercase;
  }
}
