#designerprofile-section {
  // default variable
  $yacht-height: 756px;
  $yacht-greybox-gutter: 135px;

  $greybox-horizontal-gutter: 50px;
  $greybox-bluebox-offset-x: 70px;
  $greybox-bluebox-offset-y: -90px;

  $bluebox-width: 465px;
  $bluebox-height: 735px;

  $next-prev-height: 150px;
  $next-prev-width: 150px;

  // mobile
  $yacht-height-mobile: 70%;
  $yacht-greybox-gutter-mobile: 0px;

  $greybox-horizontal-gutter-mobile: 20px;
  $greybox-bluebox-offset-x-mobile: -20px;
  $greybox-bluebox-offset-y-mobile: calc(-10% - 180px);

  $bluebox-height-mobile: auto;
  $bluebox-width-mobile: 100%;

  $next-prev-height-mobile: 75px;
  $next-prev-width-mobile: 75px;

  .yacht {
    @extend .background-cover;
    background-image: url("images/designerprofile-section/bg.jpg");
    padding-bottom: $yacht-height;
    @include responsive(mobile) {
      padding-bottom: $yacht-height-mobile;
    }
  }

  .description-grey-box {
    @extend .clearfix;
    position: relative;
    margin: 0 $greybox-horizontal-gutter;
    margin-top: -$yacht-greybox-gutter;
    background-color: $light-gray;
    overflow: visible;
    min-height: 750px;

    @include responsive(mobile) {
      min-height: initial;
      margin: 0 0 0 $greybox-horizontal-gutter-mobile;
      margin-top: -$yacht-greybox-gutter-mobile;
    }
  }

  .blue-box-container {
    @include responsive(mobile) {
      padding-right: 20%;
    }
  }

  .profile-blue-box {
    @extend .blue-box;
    float: left;
    color: $light-gray;
    margin-left: $greybox-bluebox-offset-x;
    margin-top: $greybox-bluebox-offset-y;
    width: $bluebox-width;
    height: $bluebox-height;
    align-content: center;
    padding: 40px;
    text-align: center;

    @include responsive(mobile) {
      padding: calc(3% + 20px) 30px;
      margin-left: $greybox-bluebox-offset-x-mobile;
      margin-top: $greybox-bluebox-offset-y-mobile;
      height: $bluebox-height-mobile;
      width: $bluebox-width-mobile;
    }

    .white-line {
      margin: 15px 0;
      left: -120px;
      width: 441px;
      @include responsive(mobile) {
        margin: 10px auto;
        width: 1000px;
        right: 0px;
        left: calc(50% - 927px);
      }
    }

    .designer-title {
      line-height: 52px;
      font-size: 37px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include responsive(transition) {
        font-size: 38px;
        margin: 36px auto;
        line-height: 52px;
      }

      @include responsive(mobile) {
        line-height: 30px;
        font-size: 24px;
      }
    }

    .designer-name {
      text-transform: uppercase;
      line-height: 32px;
      font-size: 30px;
      font-weight: 100;

      @include responsive(transition) {
        font-weight: 600;
        margin-top: 50px;
      }
      @include responsive(mobile) {
        font-size: 17px;
        line-height: 17px;
        font-weight: bold;
      }
    }

    .designer-company-name {
      line-height: 40px;
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 0px;

      @include responsive(transition) {
        margin-top: 0px;
        font-size: 22px;
        font-weight: 800;
      }

      @include responsive(mobile){
        line-height: 30px;
        font-size: 15px;
      }
    }

  }

  .designer-photo {
    @extend .background-contain;
    background-image: url("images/designerprofile-section/designer.png");
    @include responsive(transition) {
      height: 270px;
    }
    @include responsive(mobile) {
      padding-bottom: calc(120px + 20%);
      margin: 20px 0;
    }
  }

  .designer-description-text {
    float: right;
    width: calc(100% - #{$bluebox-width} - #{$greybox-bluebox-offset-x});
    padding: 100px 65px;
    padding-bottom: 170px;
    vertical-align: top;
    position: relative;

    p {
      font-weight: 500;
    }

    .quote {
      @include responsive(transition) {
        font-style: italic;
        line-height: 38px;
        font-size: 25px;
      }
    }
    .description {
      @include responsive(transition) {
        line-height: 33px;
        font-size: 23px;
        margin-bottom: 40px;
        min-height: 200px;
      }
      margin-bottom: 20px;
    }

    @include responsive (mobile){
      width: auto;
      padding: calc(5% + 15px) 30px;
    }
  }

  .designer-video-link {
    display: inline-block;

    a {
      text-decoration: none;
      color: black;
      padding-bottom: 2px;
      border-bottom: 1px solid black;
      line-height: 32px;
      font-size: 30px;
      font-weight: 100;
      width: 100%;
      box-sizing: border-box;

      @include responsive(mobile) {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  .next-prev-wheelbutton {
    background: black;
    width: $next-prev-width;
    height: $next-prev-height;
    position: absolute;
    bottom: $next-prev-width - 95px;
    right: $next-prev-width - 185px;
    @include responsive(mobile) {
      display: none;
      // right: auto;
      // bottom: auto;
      // right: 15%;
      // top: 40px;
    }

    &.mobile {
      width: $next-prev-width-mobile;
      height: $next-prev-height-mobile;
      right: 15px - $next-prev-width-mobile;
      bottom: 20px;

      display: none;
      @include responsive(mobile) {
        display: block;
      }
    }
  }

}
