.description-gray-box {
  min-width: 80vw;
  align-self: center;
  background-color: $light-gray;
  margin-top: 60vw;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  padding-right: 40px;

  @include responsive(mobile){
    margin-right: 0;
  }
}

.profile-blue-box {
  @extend .blue-box;
  top: -70px;
  display: inline-block;
  margin: auto 40px 40px 40px;
  padding: 40px;
}

.designerphoto {
  position: relative;
  width: 90%;
  margin: auto;
}

.description-text {
  margin-left: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

#designerprofile-section h1, h2, h3, h4, h5 {
  color: white;
  text-align: center;
}

#designerprofile-section .body-container {
  overflow: hidden;
}
