#designerprofile-section {
  .link-menu {
    position: absolute;
    border-bottom: 1px solid black;
    right: 0;
    padding-right:8px;
    bottom: 150px;

    h2 {
      margin: 6px;
    }

    @include responsive(transition){
        bottom: 50px;
    }

    @include responsive(mobile){
      max-width: 30%;
      top: 480px;
      bottom: auto;

      h2 {
        margin: 2px;
        font-size: 100%;
      }
    }
  }
}

.background-image {
  height: 80vw;
  min-height: 50vh;
  max-width: 120%;
  position: absolute;

  @include responsive(mobile){
    min-height: 500px;
  }
}

.description-gray-box {
  min-width: 80vw;
  min-height: 750px;
  align-self: center;
  background-color: $light-gray;
  margin-top: 60vw;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  padding-top: 80px;

  @include responsive(mobile){
    margin-top: 450px;
    margin-left: 20px;
    margin-right: 0;
    min-height: 550px;
  }
}

.profile-blue-box {
  @extend .blue-box;
  width: 500px;
  height: 750px;
  align-content: center;
  top: -170px;
  display: inline-block;
  margin: auto 40px 40px 40px;
  padding: 40px;

  .white-line {
    left: -10vw;
    width: 125%;
  }

  h1, h2, h3 {
    color: white;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 3vh;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 500;
  }

  h3 {
    margin-top: 3vh;
  }

  @include responsive(mobile){
    width: 70%;
    height: 500px;
    margin-left: -40px;
    top: -500px ;
    .white-line {
      left: -10vw;
      width: 100%;
    }
  }
}

/* * * * * * * * * * * * * * * * * * * * * * *
 * erase-shifted-offset:
 *  An empty box with predefined size
 *  so that the original space occupied by
 *  the profile box can be used.
 * * * * * * * * * * * * * * * * * * * * * * */
.erase-shifted-offset {
  float: left;
  width: 540px;
  height: 580px;
  margin-right: 40px;

  @include responsive(mobile){
    width: 360px;
    height: 0px;
  }
}

.designer-photo {
  position: relative;
  display: block;
  width: 70%;
  margin: 30px auto 30px auto;
}

.designer-description-text {
  vertical-align: top;
  position: relative;
  padding-bottom: 50px;
  padding-right: 40px;

  @include responsive (mobile){
    clear: left;
    padding: 40px;
  }
}
