#hero-section {

  $section-height: 705px;
  $section-height-mobile: 576px;

  $footer-height: 39px;
  $footer-height-mobile: 45px;

  $register-link-left: 52px + $side-scroll-width;
  $register-link-left-trans: 12px + $side-scroll-width;

  $video-height: $section-height - $footer-height;
  $video-height-mobile: $section-height-mobile - $footer-height-mobile;

  $logo-width: 110px;
  $logo-width-mobile: 65px;

  $wheelbutton-right: 70px;
  $wheelbutton-right-mobile: 42px;

  $wheelbutton-bottom: 50px;
  $wheelbutton-bottom-mobile: 60px;

  .title-container {
    position: absolute;
    top: 43%;
    background-color: transparent;
    left: 50%;
    width: 80%;
    text-align: center;

    @include responsive(mobile) {
      top: 38%;
    }

    .title-eng-text {
      font-family: futura;
      font-weight: normal;
      // line-height: 52px;
      font-size: 27px;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      text-align: center;

      position: relative;
      left: -50%;

      @include responsive(mobile) {
        font-size: 24px;
        letter-spacing: 0.02em;
      }
    }

    .title-chi-text {
      font-family: kozukaGothic;
      font-weight: normal;
      font-size: 23px;
      letter-spacing: 1.4em;
      text-align: center;

      position: relative;
      left: calc(-50% + 10px);

      @include responsive(mobile) {
        left: -50%;
        font-size: 20px;
        letter-spacing: 0.64em;
      }
    }

    .transparent-button {
      display: inline-block;
      padding: 10px 23px;
      margin-top: 12px;

      position: relative;
      left: -50%;

      @include responsive(mobile) {
        margin-top: 20px;
        padding: 8px 18px;
      }

      .title-white-box-text {
        font-family: futuraBT;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: white;
        text-align: center;

        @include responsive(mobile){
          font-size: 14px;
          letter-spacing: 0.02em;
        }
      }

      .border {
        background-color: white;
        position: absolute;
        transition: top 500ms, right 500ms, bottom 500ms, left 500ms;
      }
      .top, .bottom {
        height: 1px;
      }
      .right, .left {
        width: 1px;
      }
      .top {
        top: 0;
        left: 0;
        right: 100%;
      }
      .right {
        right: 0;
        top: 0;
        bottom: 100%;
      }
      .bottom {
        bottom: 0;
        right: 0;
        left: 100%;
      }
      .left {
        left: 0;
        bottom: 0;
        top: 100%;
      }
      &.active {
        .top {
          right: 0;
        }
        .right {
          bottom: 0;
        }
        .bottom {
          left: 0;
        }
        .left {
          top: 0;
        }
      }
    }

  }



  .video-container {
    height: $video-height;
    width: 100%;
    overflow: hidden;

    @include responsive(mobile) {
      height: $video-height-mobile;
    }
  }

  video {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    min-height: $video-height;
    width: auto;
    height: auto;
    @include transform((translateX(-50%) translateY(-50%)));
  }

  #hero-body-text {
    font-family: futuraBT;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    visibility: hidden;
    width: 100%;
    margin-top: 8%;
    text-align: center;
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 2;

    @include responsive(mobile){
      font-size: 15px;
      line-height: 17px;
      margin-top: 16%;
    }

    .bold {
      font-weight: bold;
    }
  }

  #cover-image {
    height: 100%;
    width: 100%;
    background-image: url("images/hero-section/coverimage.jpg");
    @extend .background-cover;
  }

  .hero-footer {
    background-color: $dark-gray;
    height: $footer-height;

    .register-link-text {
      font-family: futura;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      color: $dark-blue;
      // line-height: 40px;

      position: relative;
      top: 7px;
      margin-left: $register-link-left;

      @include responsive(mobile){
        margin-left: $register-link-left-trans;
        top: 9px;
        font-size: 14px;
        letter-spacing: 0.025em;
      }
    }
  }

  .hero-logo {
    visibility: hidden;
    background-image: url("images/hero-section/shiplogo.png"); // 244 x 48
    background-size: contain;
    background-repeat: no-repeat;
    width: $logo-width;
    height: 0;
    padding-bottom: 48 / 244 * $logo-width;

    display: inline-block;
    position: absolute;
    top: 6.5%;
    left: 4%;

    @include responsive(mobile){
      width: $logo-width-mobile;
      padding-bottom: 48 / 244 * $logo-width-mobile;
      top: 4%;
      left: 5%;
    }
  }

  .wheelbutton-container {
    z-index: 5;
    position: absolute;
    right: $wheelbutton-right;
    bottom: $wheelbutton-bottom;

    @include responsive(mobile) {
      right: $wheelbutton-right-mobile;
      bottom: $wheelbutton-bottom-mobile;
    }
  }

  .one-fifth-opacity {
    @include opacity(.2);
  }
}
