
#hero-section {
  $hero-logo-width: 9.5%;
  $hero-logo-width-mobile: 80px;

  .title-container {
    position: absolute;
    top: 37.5%;
    background-color: transparent;
    left: 10%;
    width: 80%;
    text-align: center;

    .title-eng-text {
      font-family: futura;
      font-weight: normal;
      // line-height: 52px;
      font-size: 27px;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      text-align: center;

      @include responsive(mobile){
        line-height: 35px;
        font-size: 24px;
      }
    }

    .title-chi-text {
      font-family: kozukaGothic;
      font-weight: normal;
      font-size: 23px;
      letter-spacing: 1.4em;
      text-align: center;

      margin-top: 10px;
      margin-left: 10px;

      @include responsive(mobile) {
        letter-spacing: 12px;
      }
    }
  }

  .video-container {
    height: 92vh;
    width: 100%;
  }

  .video {
    width: 100%;
    height: 100%;
  }

  .hero-footer {
    background-color: $dark-gray;
    height: 8vh;
    vertical-align: middle;

    // footer
    .register-link-text {
      font-family: futura;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      color: $dark-blue;
      // line-height: 40px;
      margin-left: 45px;

      @include responsive(mobile){
        margin-left: 20px;
        font-size: 90%;
        height: 100%;
      }
    }
  }

  .hero-logo {
    background-image: url("images/hero-section/shiplogo.png"); // 244 x 48
    background-size: contain;
    background-repeat: no-repeat;
    width: $hero-logo-width;
    height: 0;
    padding-top: 48 / 244 * $hero-logo-width;

    display: inline-block;
    position: absolute;
    top: 5%;
    left: 3.5%;

    @include responsive(mobile){
      width: 20%;
    }
  }

  .transparent-button {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 10px 23px;
    margin-top: 40px;

    @include responsive(mobile) {
      margin-top: 20px;
    }

    .title-white-box-text {
      font-family: futuraBT;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 0.05em;
      color: white;
      text-align: center;

      @include responsive(mobile){
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
