#left-scroll {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  background-color: grey;

  .bar {
    width: 100%;
    background-color: black;
    position: absolute;
    height: 20%;
  }
}
// TODO color code is inaccurate
