#map-section {
  color: white;

  $info-container-height: 669px;
  $info-container-height-trans: 640px;
  $info-container-height-mobile: 440px;

  $info-container-width: 41%;

  $map-height-mobile: 357px;
  $map-width: 100% - $info-container-width;

  .map-container {
    height: $info-container-height;
    float: left;
    vertical-align: top;
    background-color: $light-gray;
    width: $map-width;
    min-width: 400px;

    @include responsive(transition){
      height: $info-container-height-trans;
    }

    @include responsive(mobile){
      width: 100%;
      min-width: 100%;
      height: $map-height-mobile;
      min-height: 60vh;
    }
  }

  .map-info {
    height: $info-container-height;
    float: left;
    vertical-align: top;
    width: $info-container-width;
    background-color: $dark-blue;
    padding-left: 70px;
    padding-bottom: 60px;
    padding-top: 70px;
    @include responsive(transition){
      height: $info-container-height-trans;
    }

    @include responsive(mobile) {
      padding-top: 40px;
      padding-left: 60px;
      padding-bottom: 80px;
      padding-right: 30px;
      width: 100%;
      min-height: 60vh;
      height: auto;
    }

    .white-line {
      width: 200%;
    }
  }

  .map-info-text {
    padding-right: 20px;
    font-family: futura;
    font-weight: normal;
    letter-spacing: 0.025em;
    margin-top: 42px;
    &:first-child {
      margin-top: 0px;
    }


    @include responsive(transition){
      width: 100%;
    }

    .title {
      font-size: 21px;
      line-height: 38px;
      text-transform: uppercase;

      @include responsive(transition) {
        font-size: 18px;
        line-height: 32px;
      }

      @include responsive(mobile) {
        letter-spacing: 0.008em;
        font-size: 16px;
        line-height: 26px;
      }
    }

    .content {
      margin-top: 5px;
      font-size: 13px;
      line-height: 23px;

      @include responsive(mobile){
        line-height: 24px;
        font-size: 14px;
      }
    }

    .explanation {
      font-size: 15px;
      line-height: 20px;
      font-weight: 100;
      width: 100%;
      box-sizing: border-box;
      letter-spacing: .5px;

      @include responsive(mobile){
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}

#marker {
  width: 150px;
  height: 60px;
  .image {
    @extend .background-contain;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}


@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
