

.map-container {
  background-color: green;
  width: 70%;
  min-width: 400px;
  height: 700px;
  position: relative;
  float: left;
}

.map-info {
  margin: 0;
  width: 400px;
  position: relative;
  float: left;
  height: 100%;
  background-color: #000333;
  padding-left: 30px;
}
