#nav-menu {
  $nav-content-width: 310px;
  $nav-image-width: 25px;

  font-family: futura;
  color: white;
  text-align: right;

  #nav-menu-image {
    background-image: url("images/hero-section/navmenubutton.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: $nav-image-width;
    height: 0;
    padding-bottom: 48 / 64 * $nav-image-width;
    position: absolute;
    top: 7%;
    right: 4%;
    cursor: pointer;

  }

  /* * * * * * * * * * * * * *
  * Text styles
  * * * * * * * * * * * * * */

  .menu-title-text {
    text-decoration: underline;
  }

  .page-link-menu-text {
    color: white;
    font-size: 21px;
    line-height: 35px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 20px;
    white-space: nowrap;

    @include responsive(mobile) {
      padding-right: 30px;
      font-size: 19px;
    }
  }

  .second-level {
    color: $dark-gray;
  }

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    list-style-type: none;
  }

  #nav-menu-content {
    z-index: 1;
    box-sizing: border-box;
    top: 0;
    right: -15px;
    height: 92vh;
    left: auto;
    position: absolute;
    padding-top: 35px;
    background-color: $dark-blue;

    /* First level */
    li {
      display: inline-block;
      width: $nav-content-width;

      /* Second level */
      ul {
        display: none;
        li {
          height: 2em;
        }
      }

      // &:hover ul, &.hover_effect ul {
      //   display: block;
      // }
    }

    @include responsive(mobile) {
      height: 100vh;
      padding-top: 15px;
    }
  }




  #nav-cross {
    background-image: url('images/nav-menu/navmenubuttons_cross.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;


    display: block;
    margin-right: 20px;
    width: 12%;
    height: 40px;
    float: right;
    margin-bottom: 40px;

    @include responsive(mobile) {
      margin-bottom: 45px;
    }

    &:after {
      clear: both;
      content: " ";
      display: block;
    }
  }

  #nav-arrow {
    background-image: url('images/nav-menu/navmenubuttons_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: inline-block;
    bottom: 0;
    width: 6%;
    height: 17px;
  }

  #nav-bottom-menu {
    position: absolute;
    height: 40px;
    width: $nav-content-width;
    right: 6px;
    z-index: 2;
    top: 83vh;

    @include responsive(mobile) {
      top: 88vh;
    }
  }

  #nav-sound {
    vertical-align: top;
    background-image: url('images/nav-menu/navmenubuttons_off.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0;

    display: inline-block;
    margin-right: 5px;
    width: 40px;
    height: 35px;
  }

  #lang-toolbar {
    visibility: inherit;
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    height: 40px;

    li {
      display: inline;
    }

    a {
      font-size: 17px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
