#nav-menu {
  $section-height: 705px;
  $section-height-mobile: 576px;

  $footer-height: 39px;
  $footer-height-mobile: 45px;

  $nav-content-width: 310px;
  $nav-content-right: 30px;
  $nav-content-right-mobile: 0;
  $nav-content-height: $section-height - $footer-height;
  $nav-content-height-mobile: $section-height-mobile;
  $nav-content-paddingtop: 35px;
  $nav-content-paddingtop-mobile: 30px;
  $nav-content-paddingright: 20px;
  $nav-content-paddingright-mobile: 30px;

  $nav-image-width: 25px;
  $nav-image-width-mobile: 16px;

  // images
  $cross-width: 15px;
  $cross-width-mobile: 12px;
  $arrow-width: 10px;
  $sound-width: 15px;

  // bottom menus
  $bottom-menu-top: 590px;
  $bottom-menu-top-mobile: 520px;


  font-family: futura;
  color: white;
  text-align: right;

  #nav-menu-image {
    background-image: url("images/hero-section/navmenubutton.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: $nav-image-width;
    height: 0;
    padding-bottom: 48 / 64 * $nav-image-width;
    position: absolute;
    top: 7%;
    right: 4%;
    cursor: pointer;

    @include responsive(mobile) {
      width: $nav-image-width-mobile;
      padding-bottom: 48 / 64 * $nav-image-width-mobile;
      top: 3.5%;
      right: 5.5%;
    }
  }

  /* * * * * * * * * * * * * *
  * Text styles
  * * * * * * * * * * * * * */

  .menu-title-text {
    text-decoration: underline;
  }

  .page-link-menu-text {
    color: white;
    font-size: 21px;
    line-height: 35px;
    font-weight: 700;
    padding-left: 10px;
    white-space: nowrap;

    @include responsive(mobile) {
      font-size: 19px;
    }
  }

  .second-level {
    color: $dark-gray;
  }

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    list-style-type: none;
  }

  #nav-menu-content {
    z-index: 1;
    position: absolute;
    top: 0;
    right: $nav-content-right;
    height: $nav-content-height;
    width: $nav-content-width;
    background-color: $dark-blue;
    padding-top: $nav-content-paddingtop;
    padding-right: $nav-content-paddingright;

    @include responsive(mobile) {
      height: $nav-content-height-mobile;
      right: $nav-content-right-mobile;
      padding-top: $nav-content-paddingtop-mobile;
      padding-right: $nav-content-paddingright-mobile;
    }
  }

  #nav-menu-links {
    clear: right;
    /* First level */
    li {
      display: inline-block;
      width: 100%;
      /* Second level */
      ul {
        display: none;
        li {
          height: 2em;
        }
      }

      // &:hover ul, &.hover_effect ul {
      //   display: block;
      // }
    }

  }

  #nav-bottom-menu {
    position: absolute;
    height: 40px;
    width: $nav-content-width;
    right: 6px;
    z-index: 2;
    top: $bottom-menu-top;

    @include responsive(mobile) {
      top: $bottom-menu-top-mobile;
    }
  }

  #lang-toolbar {
    visibility: inherit;
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    height: 40px;

    li {
      display: inline;
    }

    a {
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  /* * * * * * * * * * * * * *
  * Images
  * * * * * * * * * * * * * */

  #nav-cross { // 28 x 35
    background-image: url('images/nav-menu/navmenubuttons_cross.png');
    @extend .background-contain;

    display: block;
    width: $cross-width;
    height: 0;
    padding-bottom: 35 / 28 * $cross-width;
    float: right;
    margin-bottom: 47px;

    @include responsive(mobile) {
      width: $cross-width-mobile;
      margin-bottom: 45px;
    }
  }

  #nav-arrow { // 105 x 93
    background-image: url('images/nav-menu/navmenubuttons_arrow.png');
    @extend .background-contain;

    display: inline-block;
    bottom: 0;
    width: $arrow-width;
    height: 0;
    padding-bottom: 93 / 105 * $arrow-width;
  }

  .nav-sound {
    vertical-align:middle;
    @extend .background-contain;

    border: 0;
    width: $sound-width;
    height: 0;
    padding-bottom: $sound-width;
    display: inline-block;
    margin-right: 35px;
  }

  .sound-off {
    background-image: url('images/nav-menu/navmenubuttons_off.png');
    @extend .nav-sound;
  }

  .sound-on {
    background-image: url('images/nav-menu/navmenubuttons_on.png');
    @extend .nav-sound;
  }
}
