.panorama-image-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.panorama-background-image {
  flex: none;
  position: absolute;
  width: 100%;
  height: auto;

  @include responsive(mobile){
    height: 100%;
    width: auto;
  }

  @include responsive(mobile){
    height: 100%;
    width: auto;

  }
}

.panorama-content {
  position: absolute;
  width:100%;
  top: 40%;
}



.panorama-button-group {
  position: relative;
  text-align: center;
  margin: auto;
}

.panorama-button {
  display: inline-block;
  width: 100px;
  margin-left: 2%;
  background-color: white;
  padding: 10px;
  text-align: center;
  opacity: 0.5;
}
