#panorama-section {
  @extend .background-cover;
  $section-height: 100vh;
  $section-height-mobile: 100vh;

  $panorama-content-bottom: 35%;

  .panorama-image-container {
    // display: none;
    height: $section-height;
    overflow-y: hidden;
    @include responsive(mobile) {
      overflow-x: scroll;
      height: $section-height-mobile;
    }

    img {
      height: 100%;
    }
  }
  &.day [data-target="day"],
  &.magic [data-target="magic"],
  &.night [data-target="night"] {
    // color: white;
  }

  .panorama-content {
    z-index: 1;
    position: absolute;
    @include transform(translateX(-50%));
    left: 50%;
    text-align: center;
    bottom: $panorama-content-bottom;
    transition: bottom 500ms;

    @include responsive(mobile) {
      width:100%;
      top: 37%;
    }
  }

  &.active {
    background: none !important;
    .panorama-content {
      bottom: 50px;
      .title-center {
        opacity: 0;
      }
    }
  }

  .title-center {
    transition: opacity 500ms;
    position: relative;
    margin: auto;

    p {
      font-family: futura;
      font-weight: normal;
      font-size: 27px;
      letter-spacing: 0.025em;
      line-height: 46px;
      text-transform: uppercase;

      @include responsive(mobile){
        line-height: 37px;
        font-size: 21px;
      }
    }
  }

  .panorama-background-image {
    flex: none;
    height: 100vh;
    width: 100%;

    @include responsive(mobile){
      width: auto;
    }

    @include responsive(mobile){
      height: 100%;
      width: auto;

    }
  }

  .button-group {
    position: relative;
    text-align: center;
    margin: auto;
  }

  .button {
    cursor: pointer;
    display: inline-block;
    background-color: white;
    margin: 20px;
    padding: 10px 20px;

    @include responsive(mobile) {
      padding: 8px;
      margin: 25px 6px;
    }

    @include responsive(smallmobile) {
      padding: 8px;
      margin: 25px 8px;
    }

    p {
      font-family: futuraBT;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-align: center;
    }
  }
}
