#portfolio-section {

  $image-height: 674px;
  $image-height-transition: 450px;
  $image-height-mobile: 286px;

  .portfolio-header {
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    background-color: $dark-blue;

    @include responsive(mobile){
      padding-top: 7px;
      padding-bottom: 7px;
      margin-top: 2px;
    }

    div {
      font-family: futura;
      font-weight: normal;
      font-size: 24px;
      letter-spacing: 0.025em;
      color: white;
      text-transform: uppercase;

      @include responsive(mobile) {
        font-size: 13px;
      }
    }
  }

  .portfolio-image-container {
    @extend .grid;
    text-align: center;
    height: $image-height;
    padding-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    overflow: auto;

    @include responsive(transition) {
      height: $image-height-transition;
    }

    @include responsive(mobile) {
      height: $image-height-mobile;
      padding-top: 1px;
      padding-bottom: 2px;
    }
  }

  .portfolio-image {
    @extend .grid-item;
    width: 33.3%;
    height: 100%;

    @include responsive(mobile) {
      width: 50%;
    }
  }

}
