#portfolio-section {

  $image-height: 674px;
  $image-height-transition: 450px;
  $image-height-mobile: 286px;

  .portfolio-header {
    height: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    background-color: $dark-blue;

    @include responsive(mobile){
      padding-top: 7px;
      padding-bottom: 7px;
      margin-top: 2px;
    }

    div {
      font-family: futura;
      font-weight: normal;
      font-size: 24px;
      letter-spacing: 0.025em;
      color: white;
      text-transform: uppercase;

      @include responsive(mobile) {
        font-size: 13px;
      }
    }
  }

  .portfolio-image-container {
    @extend .background-cover;
    position: relative;
    text-align: center;
    padding-top: 3px;
    /* margin-bottom: 3px; */
    width: auto;
    white-space: nowrap;
    overflow: auto;

    @include responsive(mobile) {
      padding-top: 1px;
      padding-bottom: 2px;
    }
  }

  .portfolio-image {
    @extend .background-cover;
    position: relative;
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    padding-bottom: 50%;

    @include responsive(transition) {
      // height: $image-height-transition;
    }

    @include responsive(mobile) {
      width: 50%;
      padding-bottom: 75%;
    }
  }

  .arrow-left {
    background-image: url('images/portfolio-section/arrows-left.svg');
    background-position: center;

    position: absolute;
    height: 20px;
    width: 20px;
    bottom: 39%;
    left: 33px;
    cursor: pointer;

    @include responsive(mobile) {
      display: none;
    }
  }

  .arrow-right {
    background-image: url('images/portfolio-section/arrows-right.svg');
    @extend .background-contain;

    position: absolute;
    height: 20px;
    width: 20px;
    right: 23px;
    bottom: 38%;
    cursor: pointer;

    @include responsive(mobile) {
      display: none;
    }
  }
}
