#portfolio-section {
  h1 {
    color: white;
  }
}

.portfolio-header {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: $dark-blue;

  @include responsive(mobile){
    margin-top: 2px;
  }
}

.portfolio-image-container {
  text-align: center;
  padding-top: 2px;
}

.portfolio-image {
  width: 33.3%;
  height: 60vw;
  display: inline-block;
  vertical-align: top;
}

.portfolio-image:first-child {
  left: 0;
}

.portfolio-image:last-child {
  right: 0;
}
