#register-section {
  overflow: visible;
  z-index: 1;
  position: relative;
  background-color: $dark-gray;

  .section-container {
    height: 245px;
    padding-top: 65px;
    background-color: $dark-gray;
    font-family: futura;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.025em;
    text-align: center;

    &.fixed {
      visibility: hidden;
      transition: bottom 300ms, top 300ms;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 100%;
    }

    @include responsive(mobile) {
      padding: 20px 20px 60px 20px;
    }
  }

  &.drop {
    .section-container.fixed {
      visibility: visible;
      bottom: 0px;
      top: auto;
    }
  }

  .section-container {
    p {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;

      @include responsive(mobile){
        font-size: 14px;
      }
    }

    .register-button {
      border: 2px solid white;
      margin-top: 15px;
      padding-right: 40px;
      padding-left: 40px;
      display: inline-block;

      @include responsive(mobile) {
        padding-right: 5px;
        padding-left: 5px;
      }

      p {
        color: $dark-blue;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;

        @include responsive(mobile){
          line-height: 30px;
          font-size: 14px;
        }
      }

    }

    .add-br {
      display: none;

      @include responsive(smallmobile){
        display: block;
      }
    }

  }


}
