#register-section.body-container {
  background-color: #e6e6e6;
}

#register-section h3 {
  text-align: center;
}

.register-button {
  border: 1px solid white;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  width: 50%;
  margin: auto auto 30px auto;
}

.register-button h3 {
  color: #000333;
}
