#register-section {
  overflow: visible;
  position: relative;

  .section-container {
    height: 245px;
    padding-top: 65px;
    font-family: futura;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.025em;
    text-align: center;

    @include responsive(mobile) {
      padding: 20px 20px 60px 20px;
    }
  }

  &.drop {
    .section-container.fixed {
      visibility: visible;
      bottom: 0px;
      top: auto;
    }
  }

  .section-container {
    p {
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;

      @include responsive(mobile){
        font-size: 14px;
      }
    }

    .register-button {
      position: relative;
      margin-top: 15px;
      padding-right: 40px;
      padding-left: 40px;
      display: inline-block;

      @include responsive(mobile) {
        padding-right: 5px;
        padding-left: 5px;
      }

      p {
        color: $dark-blue;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;

        @include responsive(mobile){
          line-height: 30px;
          font-size: 14px;
        }
      }
    }

    .add-br {
      display: none;

      @include responsive(smallmobile){
        display: block;
      }
    }



    .border {
      background-color: white;
      position: absolute;
    }
    .top, .bottom {
      height: 2px;
    }
    .right, .left {
      width: 2px;
    }
    .top {
      transition: right 1200ms;
      transition-delay: 200ms;
      top: 0;
      left: 0;
      right: 100%;
    }
    .right {
      transition: bottom 1200ms;
      transition-delay: 200ms;
      right: 0;
      top: 0;
      bottom: 100%;
    }
    .bottom {
      transition: left 1200ms;
      transition-delay: 200ms;
      bottom: 0;
      right: 0;
      left: 100%;
    }
    .left {
      transition: top 1200ms;
      transition-delay: 200ms;
      left: 0;
      bottom: 0;
      top: 100%;
    }

  }
  &.active {
    .background {
      bottom: 0;
      transition-delay: 0ms;
    }
    .section-container {
      opacity: 1;
      transition-delay: 0ms;
    }
    .top {
      right: 0;
      transition-delay: 800ms;

    }
    .right {
      bottom: 0;
      transition-delay: 800ms;

    }
    .bottom {
      left: 0;
      transition-delay: 800ms;

    }
    .left {
      top: 0;
      transition-delay: 800ms;
    }
  }

  .section-container {
    transition: opacity 500ms;
    transition-delay: 1500ms;
    opacity: 0;
  }

  .background {
    background-color: $dark-gray;
    transition: bottom 1300ms;
    transition-delay: 1500ms;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 100%;
  }
}
