/* * * * * * * * * * * * * * * * * * * * * * *
 * Device screen size
 * Usage: @include responsive(mobile) { ... }
 *        @include responsive(transition){ ... }
 *        @include responsive(desktop) { ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * *
 * Colors
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * *
 * Helpers / Functions
 * Usage:
 *        @include transform(translateX(1px));
 *        @include animation((modal-fade 1s));
 *        @include transform((translateX(1px) rotateY(5deg)));
 *        @include opacity(0.5);
 *        @include transition((margin 0.5s 1s));
 *        @include responsive(mobile){ ... }
 * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: futura;
  src: url("./fonts/futura_medium_bt-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: futuraBT;
  src: url("./fonts/futurabt-book-opentype.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: kozukaGothic;
  src: url("./fonts/KozGoPr6N-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: futuraLTProLight;
  src: url("./fonts/Linotype - FuturaLTPro-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* * * * * * * * * * *
 * Chinese font
 * * * * * * * * * * */
@font-face {
  font-family: futuraChinese;
  src: url("./fonts/chinese traditional/H-LiHei-regular.ttf") format("truetype"); }

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

div {
  box-sizing: border-box; }

sup {
  font-size: 12px;
  line-height: 12px;
  vertical-align: super; }

.section-container {
  position: relative;
  overflow: hidden; }

.blue-box, #clubhouse-section .clubhouse-blue-box, #designerprofile-section .profile-blue-box {
  color: white;
  background-color: #232f49;
  position: relative; }

.white-line {
  height: 1px;
  width: 200%;
  background-color: white;
  position: relative; }

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.clearfix:before, .fixer-float-container:before, #clubhouse-section:before, #designerprofile-section .description-grey-box:before, .clearfix:after, .fixer-float-container:after, #clubhouse-section:after, #designerprofile-section .description-grey-box:after {
  content: " ";
  display: table; }

.clearfix:after, .fixer-float-container:after, #clubhouse-section:after, #designerprofile-section .description-grey-box:after {
  clear: both; }

.background-image, .background-cover, #clubhouse-section .clubhouse-image-container, #designerprofile-section .yacht, .background-contain, #designerprofile-section .designer-photo {
  background-position: center center;
  background-repeat: no-repeat; }

.background-cover, #clubhouse-section .clubhouse-image-container, #designerprofile-section .yacht {
  background-size: cover; }

.background-contain, #designerprofile-section .designer-photo {
  background-size: contain; }

/*animation element*/
.animation-element {
  opacity: 0;
  position: relative; }

/*animation element sliding left*/
.animation-element.slide-left {
  opacity: 0;
  -webkit-transition: all 600ms linear;
  -moz-transition: all 600ms linear;
  -o-transition: all 600ms linear;
  transition: all 600ms linear;
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -moz-transform: translate3d(-100px, 0px, 0px);
  -ms-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate3d(-100px, 0px, 0px);
  transform: translate3d(-100px, 0px, 0px); }

.animation-element.slide-left.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

/*animation element sliding right*/
.animation-element.slide-right {
  opacity: 0;
  -webkit-transition: all 600ms linear;
  -moz-transition: all 600ms linear;
  -o-transition: all 600ms linear;
  transition: all 600ms linear;
  -webkit-transform: translate3d(100px, 0px, 0px);
  -moz-transform: translate3d(100px, 0px, 0px);
  -ms-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate3d(100px, 0px, 0px);
  transform: translate3d(100px, 0px, 0px); }

.animation-element.slide-right.in-view {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px); }

/*animation element fade*/
.animation-element.fade {
  opacity: 0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }

.animation-element.fade.in-view {
  opacity: 1;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }

/* IMAGE MODAL */
/* Modal Background */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  height: 100%; }

/* Fade in Modal */
.modal-content, .modal {
  -webkit-animation: modal-fade 1s;
  -moz-animation: modal-fade 1s;
  -ms-animation: modal-fade 1s;
  -o-animation: modal-fade 1s;
  animation: modal-fade 1s; }

@-webkit-keyframes modal-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes modal-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes modal-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes modal-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
    max-width: 1280px;
    height: auto;
    padding-top: 50vh; } }

/* * * * * * * * * * * * * * * * * * * * *
 * To horizontally center float elements
 * Place the float elements inside the fixer container
 *  inside the main container.
 * * * * * * * * * * * * * * * * * * * * */
.main-float-container {
  float: left;
  position: relative;
  left: 50%; }

.fixer-float-container {
  float: left;
  position: relative;
  left: -50%; }

.grid:after, #portfolio-section .portfolio-image-container:after {
  content: "";
  display: table;
  clear: both; }

.grid .grid-item, #portfolio-section .portfolio-image-container .grid-item, .grid #portfolio-section .portfolio-image, #portfolio-section .grid .portfolio-image, #portfolio-section .portfolio-image-container .portfolio-image {
  float: left;
  position: relative; }

.grid .grid-item.full, #portfolio-section .portfolio-image-container .grid-item.full, .grid #portfolio-section .full.portfolio-image, #portfolio-section .grid .full.portfolio-image, #portfolio-section .portfolio-image-container .full.portfolio-image {
  width: 100%; }

.grid .grid-item.one-half, #portfolio-section .portfolio-image-container .grid-item.one-half, .grid #portfolio-section .one-half.portfolio-image, #portfolio-section .grid .one-half.portfolio-image, #portfolio-section .portfolio-image-container .one-half.portfolio-image {
  width: 50%; }

.grid .grid-item.one-third, #portfolio-section .portfolio-image-container .grid-item.one-third, .grid #portfolio-section .one-third.portfolio-image, #portfolio-section .grid .one-third.portfolio-image, #portfolio-section .portfolio-image-container .one-third.portfolio-image {
  width: 33.33%; }

.grid .grid-item.two-third, #portfolio-section .portfolio-image-container .grid-item.two-third, .grid #portfolio-section .two-third.portfolio-image, #portfolio-section .grid .two-third.portfolio-image, #portfolio-section .portfolio-image-container .two-third.portfolio-image {
  width: 66.66%; }

.grid .grid-item.one-fourth, #portfolio-section .portfolio-image-container .grid-item.one-fourth, .grid #portfolio-section .one-fourth.portfolio-image, #portfolio-section .grid .one-fourth.portfolio-image, #portfolio-section .portfolio-image-container .one-fourth.portfolio-image {
  width: 25%; }

.grid .grid-item.three-fourth, #portfolio-section .portfolio-image-container .grid-item.three-fourth, .grid #portfolio-section .three-fourth.portfolio-image, #portfolio-section .grid .three-fourth.portfolio-image, #portfolio-section .portfolio-image-container .three-fourth.portfolio-image {
  width: 75%; }

.grid .grid-item.one-fifth, #portfolio-section .portfolio-image-container .grid-item.one-fifth, .grid #portfolio-section .one-fifth.portfolio-image, #portfolio-section .grid .one-fifth.portfolio-image, #portfolio-section .portfolio-image-container .one-fifth.portfolio-image {
  width: 20%; }

.grid .grid-item.two-fifth, #portfolio-section .portfolio-image-container .grid-item.two-fifth, .grid #portfolio-section .two-fifth.portfolio-image, #portfolio-section .grid .two-fifth.portfolio-image, #portfolio-section .portfolio-image-container .two-fifth.portfolio-image {
  width: 40%; }

.grid .grid-item.three-fifth, #portfolio-section .portfolio-image-container .grid-item.three-fifth, .grid #portfolio-section .three-fifth.portfolio-image, #portfolio-section .grid .three-fifth.portfolio-image, #portfolio-section .portfolio-image-container .three-fifth.portfolio-image {
  width: 60%; }

.grid .grid-item.four-fifth, #portfolio-section .portfolio-image-container .grid-item.four-fifth, .grid #portfolio-section .four-fifth.portfolio-image, #portfolio-section .grid .four-fifth.portfolio-image, #portfolio-section .portfolio-image-container .four-fifth.portfolio-image {
  width: 80%; }

.grid .grid-item.one-sixth, #portfolio-section .portfolio-image-container .grid-item.one-sixth, .grid #portfolio-section .one-sixth.portfolio-image, #portfolio-section .grid .one-sixth.portfolio-image, #portfolio-section .portfolio-image-container .one-sixth.portfolio-image {
  width: 16.66%; }

.grid .grid-item.five-sixth, #portfolio-section .portfolio-image-container .grid-item.five-sixth, .grid #portfolio-section .five-sixth.portfolio-image, #portfolio-section .grid .five-sixth.portfolio-image, #portfolio-section .portfolio-image-container .five-sixth.portfolio-image {
  width: 83.33%; }

.grid .grid-item.one-eighth, #portfolio-section .portfolio-image-container .grid-item.one-eighth, .grid #portfolio-section .one-eighth.portfolio-image, #portfolio-section .grid .one-eighth.portfolio-image, #portfolio-section .portfolio-image-container .one-eighth.portfolio-image {
  width: 12.5%; }

.grid .grid-item.three-eighth, #portfolio-section .portfolio-image-container .grid-item.three-eighth, .grid #portfolio-section .three-eighth.portfolio-image, #portfolio-section .grid .three-eighth.portfolio-image, #portfolio-section .portfolio-image-container .three-eighth.portfolio-image {
  width: 37.5%; }

.grid .grid-item.five-eighth, #portfolio-section .portfolio-image-container .grid-item.five-eighth, .grid #portfolio-section .five-eighth.portfolio-image, #portfolio-section .grid .five-eighth.portfolio-image, #portfolio-section .portfolio-image-container .five-eighth.portfolio-image {
  width: 62.5%; }

.grid .grid-item.seven-eighth, #portfolio-section .portfolio-image-container .grid-item.seven-eighth, .grid #portfolio-section .seven-eighth.portfolio-image, #portfolio-section .grid .seven-eighth.portfolio-image, #portfolio-section .portfolio-image-container .seven-eighth.portfolio-image {
  width: 87.5%; }

#hero-section .title-container {
  position: absolute;
  top: 43%;
  background-color: transparent;
  left: 50%;
  width: 80%;
  text-align: center; }
  #hero-section .title-container .title-eng-text {
    font-family: futura;
    font-weight: normal;
    font-size: 27px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    left: -50%; }
    @media only screen and (max-width: 720px) {
      #hero-section .title-container .title-eng-text {
        line-height: 35px;
        font-size: 24px; } }
  #hero-section .title-container .title-chi-text {
    font-family: kozukaGothic;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 1.4em;
    text-align: center;
    position: relative;
    left: calc(-50% + 10px); }
    @media only screen and (max-width: 720px) {
      #hero-section .title-container .title-chi-text {
        letter-spacing: 12px; } }
  #hero-section .title-container .transparent-button {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 23px;
    margin-top: 12px;
    position: relative;
    left: -50%; }
    @media only screen and (max-width: 720px) {
      #hero-section .title-container .transparent-button {
        margin-top: 20px; } }
    #hero-section .title-container .transparent-button .title-white-box-text {
      font-family: futuraBT;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 0.05em;
      color: white;
      text-align: center; }
      @media only screen and (max-width: 720px) {
        #hero-section .title-container .transparent-button .title-white-box-text {
          font-size: 13px;
          line-height: 15px; } }

#hero-section .video-container {
  height: 666px;
  width: 100%; }
  @media only screen and (max-width: 720px) {
    #hero-section .video-container {
      height: 537px; } }

#hero-section .video {
  width: 100%;
  height: 100%; }

#hero-section .hero-footer {
  background-color: #9e9da2;
  height: 39px; }
  #hero-section .hero-footer .register-link-text {
    font-family: futura;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #232f49;
    position: relative;
    top: 7px;
    margin-left: 60px; }
    @media only screen and (max-width: 720px) {
      #hero-section .hero-footer .register-link-text {
        margin-left: 20px;
        top: 9px;
        font-size: 90%;
        height: 100%; } }

#hero-section .hero-logo {
  background-image: url("images/hero-section/shiplogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 0;
  padding-bottom: 21.63934px;
  display: inline-block;
  position: absolute;
  top: 6.5%;
  left: 4%; }
  @media only screen and (max-width: 720px) {
    #hero-section .hero-logo {
      width: 65px;
      padding-bottom: 12.78689px;
      top: 4%;
      left: 5%; } }

#nav-menu {
  font-family: futura;
  color: white;
  text-align: right;
  /* * * * * * * * * * * * * *
  * Text styles
  * * * * * * * * * * * * * */ }
  #nav-menu #nav-menu-image {
    background-image: url("images/hero-section/navmenubutton.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 0;
    padding-bottom: 18.75px;
    position: absolute;
    top: 7%;
    right: 4%;
    cursor: pointer; }
    @media only screen and (max-width: 720px) {
      #nav-menu #nav-menu-image {
        width: 16px;
        padding-bottom: 12px;
        top: 3.5%;
        right: 5.5%; } }
  #nav-menu .menu-title-text {
    text-decoration: underline; }
  #nav-menu .page-link-menu-text {
    color: white;
    font-size: 21px;
    line-height: 35px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 20px;
    white-space: nowrap; }
    @media only screen and (max-width: 720px) {
      #nav-menu .page-link-menu-text {
        padding-right: 30px;
        font-size: 19px; } }
  #nav-menu .second-level {
    color: #9e9da2; }
  #nav-menu a {
    text-decoration: none;
    color: white; }
  #nav-menu ul {
    list-style-type: none; }
  #nav-menu #nav-menu-content {
    z-index: 1;
    box-sizing: border-box;
    top: 0;
    right: -15px;
    height: 92vh;
    left: auto;
    position: absolute;
    padding-top: 35px;
    background-color: #232f49;
    /* First level */ }
    #nav-menu #nav-menu-content li {
      display: inline-block;
      width: 310px;
      /* Second level */ }
      #nav-menu #nav-menu-content li ul {
        display: none; }
        #nav-menu #nav-menu-content li ul li {
          height: 2em; }
    @media only screen and (max-width: 720px) {
      #nav-menu #nav-menu-content {
        height: 100vh;
        padding-top: 15px; } }
  #nav-menu #nav-cross {
    background-image: url("images/nav-menu/navmenubuttons_cross.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    margin-right: 20px;
    width: 12%;
    height: 40px;
    float: right;
    margin-bottom: 40px; }
    @media only screen and (max-width: 720px) {
      #nav-menu #nav-cross {
        margin-bottom: 45px; } }
    #nav-menu #nav-cross:after {
      clear: both;
      content: " ";
      display: block; }
  #nav-menu #nav-arrow {
    background-image: url("images/nav-menu/navmenubuttons_arrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    bottom: 0;
    width: 6%;
    height: 17px; }
  #nav-menu #nav-bottom-menu {
    position: absolute;
    height: 40px;
    width: 310px;
    right: 6px;
    z-index: 2;
    top: 83vh; }
    @media only screen and (max-width: 720px) {
      #nav-menu #nav-bottom-menu {
        top: 88vh; } }
  #nav-menu #nav-sound {
    vertical-align: top;
    background-image: url("images/nav-menu/navmenubuttons_off.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0;
    display: inline-block;
    margin-right: 5px;
    width: 40px;
    height: 35px; }
  #nav-menu #lang-toolbar {
    visibility: inherit;
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    height: 40px; }
    #nav-menu #lang-toolbar li {
      display: inline; }
    #nav-menu #lang-toolbar a {
      font-size: 17px;
      padding-left: 5px;
      padding-right: 5px; }

#clubhouse-section {
  position: relative;
  color: #dfdfe1;
  background-color: #dfdfe1;
  /* * * * * * * * * * * * * * * *
  * Text styles
  * * * * * * * * * * * * * * * */ }
  #clubhouse-section .club-title-text {
    font-family: futura;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.025em;
    line-height: 33px;
    text-transform: uppercase; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .club-title-text {
        line-height: 28px;
        font-size: 20px; } }
  #clubhouse-section .club-description-text {
    font-family: futura;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.025em;
    line-height: 25px; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .club-description-text {
        line-height: 18px;
        font-size: 12px; } }
  #clubhouse-section .link-text {
    font-family: futuraLTProLight;
    font-weight: lighter;
    font-size: 17px;
    letter-spacing: 0.025em;
    text-align: center;
    margin: 6px;
    margin-left: 5px;
    padding-right: 60px; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .link-text {
        padding-top: 2px;
        padding-right: 2px;
        line-height: 20px;
        font-size: 18px; } }
    #clubhouse-section .link-text .the-text {
      font-style: italic; }
  #clubhouse-section .link-menu {
    position: absolute;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    bottom: 41px; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .link-menu {
        bottom: 33px; } }
  #clubhouse-section .clubhouse-image-container {
    height: 669px;
    background-image: url("./images/clubhouse-section/club1.jpg");
    background-position: left;
    background-size: cover;
    position: relative;
    float: right;
    width: 75%; }
    @media only screen and (min-width: 721px) and (max-width: 1023px) {
      #clubhouse-section .clubhouse-image-container {
        width: 64%; } }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .clubhouse-image-container {
        background-position: left;
        top: 11.5vh;
        min-height: 570px;
        height: 570px;
        width: 100%; } }
  #clubhouse-section #clubImage {
    cursor: pointer;
    transition: 1s; }
  #clubhouse-section .clubhouse-blue-box-container {
    overflow-y: visible;
    float: left;
    padding-top: 54px;
    width: 25%; }
    @media only screen and (min-width: 721px) and (max-width: 1023px) {
      #clubhouse-section .clubhouse-blue-box-container {
        width: 36%; } }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .clubhouse-blue-box-container {
        width: 0;
        top: 0;
        padding-top: 0;
        padding-bottom: 0; } }
  #clubhouse-section .clubhouse-blue-box {
    position: relative;
    padding: 60px 40px;
    left: calc(100% - 278px);
    width: 337px;
    height: 452px; }
    #clubhouse-section .clubhouse-blue-box .white-line {
      left: -300px;
      margin-top: 23px;
      margin-bottom: 23px; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .clubhouse-blue-box {
        left: 0;
        top: 0;
        padding: 30px 20px 20px 24px;
        margin-left: 0px;
        margin-top: 0px;
        max-height: 400px;
        width: 250px; }
        #clubhouse-section .clubhouse-blue-box .white-line {
          margin-bottom: 22px;
          left: -8vw;
          width: 90%; } }
  #clubhouse-section .scroll-textbox-area {
    height: 225px;
    overflow-y: auto;
    margin-right: -300px;
    padding-right: 300px; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .scroll-textbox-area {
        height: 240px; } }
  #clubhouse-section .hide-scroll {
    height: 225px;
    overflow: hidden; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .hide-scroll {
        height: 240px; } }
  #clubhouse-section .wheelbutton-container {
    width: 100px;
    float: right;
    padding-left: 75px;
    margin-top: -2px; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .wheelbutton-container {
        padding-left: 90px;
        margin-top: -28px; } }
  #clubhouse-section .next-prev-wheelbutton {
    height: 100px;
    width: 100px;
    background-color: black; }
    @media only screen and (max-width: 720px) {
      #clubhouse-section .next-prev-wheelbutton {
        height: 85px;
        width: 85px; } }

#companyinfo-section {
  color: white;
  text-align: center; }
  #companyinfo-section .companyinfo-body-container {
    background-color: #232f49;
    width: 95vw;
    position: relative;
    margin: 0 auto auto auto;
    text-align: center; }
    @media only screen and (max-width: 720px) {
      #companyinfo-section .companyinfo-body-container {
        width: 100%; } }
  #companyinfo-section .company-logo {
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    margin-bottom: 20px; }
    #companyinfo-section .company-logo .description {
      font-family: futura;
      font-weight: normal;
      font-size: 15px;
      letter-spacing: 0.025em;
      line-height: 26px; }
      @media only screen and (max-width: 720px) {
        #companyinfo-section .company-logo .description {
          line-height: 30px;
          font-size: 15px; } }
    #companyinfo-section .company-logo .image {
      width: 200px;
      height: 100px;
      background-color: black;
      position: relative;
      margin: auto; }
  #companyinfo-section .disclaimer {
    position: relative;
    padding: 40px 30px; }
    @media only screen and (max-width: 720px) {
      #companyinfo-section .disclaimer {
        padding: 40px 0; } }
    #companyinfo-section .disclaimer .title {
      font-family: futura;
      font-weight: normal;
      font-size: 21px;
      letter-spacing: 0.025em;
      line-height: 26px;
      text-transform: uppercase; }
      @media only screen and (max-width: 720px) {
        #companyinfo-section .disclaimer .title {
          line-height: 30px;
          font-size: 15px; } }
    #companyinfo-section .disclaimer p {
      font-family: futuraBT;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.025em;
      line-height: 25px;
      position: relative;
      margin: 0; }
      @media only screen and (max-width: 720px) {
        #companyinfo-section .disclaimer p {
          line-height: 30px;
          font-size: 15px; } }

#designerprofile-section .yacht {
  background-image: url("images/designerprofile-section/bg.jpg");
  padding-bottom: 756px; }
  @media only screen and (max-width: 720px) {
    #designerprofile-section .yacht {
      padding-bottom: 70%; } }

#designerprofile-section .description-grey-box {
  position: relative;
  margin: 0 50px;
  margin-top: -135px;
  background-color: #dfdfe1;
  overflow: visible;
  min-height: 750px; }
  @media only screen and (max-width: 720px) {
    #designerprofile-section .description-grey-box {
      min-height: initial;
      margin: 0 0 0 20px;
      margin-top: 0px; } }

@media only screen and (max-width: 720px) {
  #designerprofile-section .blue-box-container {
    padding-right: 20%; } }

#designerprofile-section .profile-blue-box {
  float: left;
  color: #dfdfe1;
  margin-left: 70px;
  margin-top: -90px;
  width: 465px;
  height: 735px;
  align-content: center;
  padding: 40px;
  text-align: center; }
  @media only screen and (max-width: 720px) {
    #designerprofile-section .profile-blue-box {
      padding: calc(3% + 20px) 30px;
      margin-left: -20px;
      margin-top: calc(-10% - 180px);
      height: auto;
      width: 100%; } }
  #designerprofile-section .profile-blue-box .white-line {
    margin: 15px 0;
    left: -120px;
    width: 441px; }
    @media only screen and (max-width: 720px) {
      #designerprofile-section .profile-blue-box .white-line {
        margin: 10px auto;
        width: 1000px;
        right: 0px;
        left: calc(50% - 927px); } }
  #designerprofile-section .profile-blue-box .designer-title {
    font-family: futura;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.025em;
    line-height: 31px;
    text-transform: uppercase; }
    @media only screen and (max-width: 720px) {
      #designerprofile-section .profile-blue-box .designer-title {
        line-height: 30px;
        font-size: 24px; } }
  #designerprofile-section .profile-blue-box .designer-info {
    font-family: futura;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.025em; }
    @media only screen and (max-width: 720px) {
      #designerprofile-section .profile-blue-box .designer-info {
        font-size: 17px;
        line-height: 17px;
        font-weight: bold; } }
    #designerprofile-section .profile-blue-box .designer-info .designer-name {
      text-transform: uppercase; }

#designerprofile-section .designer-photo {
  background-image: url("images/designerprofile-section/designer.png"); }
  @media only screen and (min-width: 721px) and (max-width: 1023px) {
    #designerprofile-section .designer-photo {
      height: 270px; } }
  @media only screen and (max-width: 720px) {
    #designerprofile-section .designer-photo {
      padding-bottom: calc(120px + 20%);
      margin: 20px 0; } }

#designerprofile-section .designer-description-text {
  float: right;
  width: calc(100% - 465px - 70px);
  padding: 100px 65px;
  padding-bottom: 170px;
  vertical-align: top;
  position: relative; }
  #designerprofile-section .designer-description-text p {
    font-weight: normal;
    font-family: futura;
    letter-spacing: 0.025em; }
  #designerprofile-section .designer-description-text .quote {
    font-style: italic;
    font-size: 17px; }
  #designerprofile-section .designer-description-text .description {
    font-size: 13px;
    letter-spacing: 0.025em;
    line-height: 25px;
    margin-bottom: 20px; }
  @media only screen and (max-width: 720px) {
    #designerprofile-section .designer-description-text {
      width: auto;
      padding: calc(5% + 15px) 30px; } }

#designerprofile-section .designer-video-link {
  display: inline-block; }
  #designerprofile-section .designer-video-link a {
    font-family: futuraLTProLight;
    font-weight: lighter;
    font-size: 17px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: black;
    padding-bottom: 2px;
    border-bottom: 1px solid black; }
    @media only screen and (max-width: 720px) {
      #designerprofile-section .designer-video-link a {
        font-size: 24px;
        line-height: 30px; } }

#designerprofile-section .next-prev-wheelbutton {
  background: black;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 55px;
  right: -35px; }
  @media only screen and (max-width: 720px) {
    #designerprofile-section .next-prev-wheelbutton {
      display: none; } }
  #designerprofile-section .next-prev-wheelbutton.mobile {
    width: 75px;
    height: 75px;
    right: -60px;
    bottom: 20px;
    display: none; }
    @media only screen and (max-width: 720px) {
      #designerprofile-section .next-prev-wheelbutton.mobile {
        display: block; } }

#map-section {
  color: white; }
  #map-section .map-container {
    height: 950px;
    display: inline-block;
    vertical-align: top;
    background-color: #dfdfe1;
    width: 65%;
    min-width: 400px; }
    @media only screen and (min-width: 721px) and (max-width: 1023px) {
      #map-section .map-container {
        height: 900px; } }
    @media only screen and (max-width: 720px) {
      #map-section .map-container {
        width: 100%;
        height: 60vh;
        min-height: 60vh; } }
  #map-section .map-info {
    height: 950px;
    display: inline-block;
    vertical-align: top;
    width: 35%;
    background-color: #232f49;
    padding-left: 60px;
    padding-bottom: 60px; }
    @media only screen and (min-width: 721px) and (max-width: 1023px) {
      #map-section .map-info {
        height: 900px; } }
    @media only screen and (max-width: 720px) {
      #map-section .map-info {
        width: 100%;
        height: auto;
        min-height: 60vh; } }
    #map-section .map-info .white-line {
      width: 100%; }
  #map-section .map-info-text {
    padding-right: 20px;
    font-family: futura;
    font-weight: normal;
    letter-spacing: 0.025em; }
    #map-section .map-info-text .title {
      font-size: 21px;
      line-height: 41px;
      text-transform: uppercase;
      margin-top: 70px; }
      @media only screen and (max-width: 720px) {
        #map-section .map-info-text .title {
          font-size: 24px;
          line-height: 30px; } }
    #map-section .map-info-text .content {
      font-size: 13px;
      line-height: 33px; }
      @media only screen and (max-width: 720px) {
        #map-section .map-info-text .content {
          line-height: 30px;
          font-size: 15px; } }
    #map-section .map-info-text .explanation {
      font-size: 15px;
      line-height: 20px;
      font-weight: 100;
      width: 100%;
      box-sizing: border-box;
      letter-spacing: .5px; }
      @media only screen and (max-width: 720px) {
        #map-section .map-info-text .explanation {
          font-size: 13px;
          line-height: 15px; } }

#panorama-section .title-center {
  position: relative;
  margin: auto; }
  #panorama-section .title-center p {
    font-family: futura;
    font-weight: normal;
    font-size: 27px;
    letter-spacing: 0.025em;
    line-height: 46px;
    text-transform: uppercase; }
    @media only screen and (max-width: 720px) {
      #panorama-section .title-center p {
        line-height: 35px;
        font-size: 24px; } }

#panorama-section .panorama-image-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden; }

#panorama-section .panorama-background-image {
  flex: none;
  height: 100vh;
  width: 100%; }
  @media only screen and (max-width: 720px) {
    #panorama-section .panorama-background-image {
      width: auto; } }
  @media only screen and (max-width: 720px) {
    #panorama-section .panorama-background-image {
      height: 100%;
      width: auto; } }

#panorama-section .panorama-content {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%; }

#panorama-section .button-group {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 40px; }

#panorama-section .button {
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 2%;
  min-width: 180px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }
  @media only screen and (max-width: 720px) {
    #panorama-section .button {
      padding: 2px;
      margin: auto;
      min-width: 100px; } }
  #panorama-section .button p {
    font-family: futuraBT;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center; }
    @media only screen and (max-width: 720px) {
      #panorama-section .button p {
        line-height: 30px;
        font-size: 15px; } }

#portfolio-section .portfolio-header {
  height: auto;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #232f49; }
  @media only screen and (max-width: 720px) {
    #portfolio-section .portfolio-header {
      padding-top: 7px;
      padding-bottom: 7px;
      margin-top: 2px; } }
  #portfolio-section .portfolio-header div {
    font-family: futura;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.025em;
    color: white;
    text-transform: uppercase; }
    @media only screen and (max-width: 720px) {
      #portfolio-section .portfolio-header div {
        font-size: 13px; } }

#portfolio-section .portfolio-image-container {
  text-align: center;
  height: 674px;
  padding-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  overflow: auto; }
  @media only screen and (min-width: 721px) and (max-width: 1023px) {
    #portfolio-section .portfolio-image-container {
      height: 450px; } }
  @media only screen and (max-width: 720px) {
    #portfolio-section .portfolio-image-container {
      height: 286px;
      padding-top: 1px;
      padding-bottom: 2px; } }

#portfolio-section .portfolio-image {
  width: 33.3%;
  height: 100%; }
  @media only screen and (max-width: 720px) {
    #portfolio-section .portfolio-image {
      width: 50%; } }

#register-section {
  background-color: #9e9da2;
  font-family: futura;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0.025em;
  text-align: center;
  padding: 20px; }
  @media only screen and (max-width: 720px) {
    #register-section {
      padding: 20px 20px; } }
  #register-section p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 720px) {
      #register-section p {
        line-height: 30px;
        font-size: 15px; } }
  #register-section .register-button {
    border: 1px solid white;
    padding-right: 40px;
    padding-left: 40px;
    display: inline-block;
    margin: auto auto 30px auto; }
    @media only screen and (max-width: 720px) {
      #register-section .register-button {
        padding-right: 5px;
        padding-left: 5px; } }
    #register-section .register-button p {
      color: #232f49;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 10px; }
      @media only screen and (max-width: 720px) {
        #register-section .register-button p {
          line-height: 30px;
          font-size: 15px; } }
  #register-section .add-br {
    display: none; }
    @media only screen and (max-width: 320px) {
      #register-section .add-br {
        display: block; } }
