/* * * * * * * * * * * * * * * * * * * * * * *
 * Device screen size
 * Usage: @include responsive(mobile) { ... }
 *        @include responsive(transition){ ... }
 *        @include responsive(desktop) { ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * *
 * Colors
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * *
 * Helpers / Functions
 * Usage:
 *        @include transform(translateX(1px));
 *        @include transform((translateX(1px) rotateY(5deg)));
 *        @include opacity(0.5);
 *        @include transition((margin 0.5s 1s));
 *        @include responsive(mobile){ ... }
 * * * * * * * * * * * * * * * * * * * * * * */
* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%; }

div {
  box-sizing: border-box; }

h1 {
  line-height: 52px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0; }
  @media only screen and (max-width: 1024px) {
    h1 {
      line-height: 45px;
      font-size: 30px; } }

h2 {
  line-height: 30px;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    h2 {
      font-size: 30px;
      line-height: 18px; } }

h3 {
  line-height: 36px;
  font-size: 26px;
  font-weight: 100;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase; }
  @media only screen and (max-width: 1024px) {
    h3 {
      line-height: 24px;
      font-size: 18px; } }

h4 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
  width: 100%;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) and (max-width: 1279px) {
    h4 {
      font-size: 20px;
      line-height: 30px; } }
  @media only screen and (max-width: 1024px) {
    h4 {
      font-size: 16px;
      line-height: 28px; } }

span, p {
  position: relative;
  line-height: 40px;
  font-size: 25px;
  font-weight: 100;
  margin: 0;
  letter-spacing: 0.007em; }
  @media only screen and (min-width: 1025px) and (max-width: 1279px) {
    span, p {
      line-height: 33px;
      font-size: 22px; } }
  @media only screen and (max-width: 1024px) {
    span, p {
      line-height: 30px;
      font-size: 20px; } }

br {
  line-height: 40px; }

.section-container {
  position: relative;
  overflow: hidden; }

.transparent-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 1px solid white;
  padding: 5px 10px;
  margin-top: 10px; }
  @media only screen and (max-width: 1024px) {
    .transparent-button {
      width: 45%; } }

.blue-box, .clubhouse-blue-box, .profile-blue-box {
  background-color: #000333;
  position: relative; }
  .blue-box h1, .clubhouse-blue-box h1, .profile-blue-box h1, .blue-box h2, .clubhouse-blue-box h2, .profile-blue-box h2, .blue-box h3, .clubhouse-blue-box h3, .profile-blue-box h3, .blue-box h4, .clubhouse-blue-box h4, .profile-blue-box h4, .blue-box h5, .clubhouse-blue-box h5, .profile-blue-box h5 {
    color: white; }

.image {
  position: absolute; }

.white-line {
  height: 1px;
  background-color: white;
  position: relative; }

#hero-section h4 {
  color: white; }

#hero-section .title-center {
  position: absolute;
  top: 45%;
  background-color: transparent;
  left: 10%;
  width: 80%; }

.video-container {
  height: 92vh;
  width: 100%; }

.video {
  width: 100%;
  height: 100%; }

.hero-footer {
  padding: 20px;
  background-color: #999999;
  height: 8vh; }
  .hero-footer h3 {
    text-align: left; }

.hero-logo {
  display: inline-block;
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 15%;
  height: auto; }
  @media only screen and (max-width: 1024px) {
    .hero-logo {
      width: 20%; } }

.menu-nav {
  display: inline-block;
  position: absolute;
  top: 5vh;
  right: 5vw;
  width: 15%;
  height: auto; }
  @media only screen and (max-width: 1024px) {
    .menu-nav {
      width: 20%; } }

#hero-section h3 {
  color: #000333; }

#clubhouse-section h1, #clubhouse-section h2, #clubhouse-section h4 {
  text-align: left;
  color: white;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh; }

#clubhouse-section .link-menu {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  position: absolute;
  border-bottom: 1px solid white;
  background-color: black;
  right: 0;
  bottom: 50px;
  padding: 8px; }

.clubhouse-background {
  background-color: #e6e6e6; }

.clubhouse-image-container {
  min-height: 1000px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  float: right;
  width: 70%; }
  .clubhouse-image-container .image {
    right: 0;
    width: auto;
    height: 100%; }
  @media only screen and (min-width: 1025px) and (max-width: 1279px) {
    .clubhouse-image-container {
      top: 5vh;
      width: 80%; } }
  @media only screen and (max-width: 1024px) {
    .clubhouse-image-container {
      top: 15vh;
      height: 85vh;
      width: 100%; }
      .clubhouse-image-container .image {
        height: 100%;
        right: -45%; } }

.clubhouse-blue-box {
  padding: 40px;
  position: absolute;
  box-sizing: border-box;
  min-height: 700px;
  display: table;
  width: 40vw;
  right: 50vw;
  margin: 10vh auto 10vw 10vh; }
  .clubhouse-blue-box .white-line {
    left: -15vw; }
  @media only screen and (min-width: 1025px) and (max-width: 1279px) {
    .clubhouse-blue-box {
      right: auto;
      width: 50vw;
      min-height: 70vh;
      margin-top: 3vh;
      margin-left: 5vw; } }
  @media only screen and (max-width: 1024px) {
    .clubhouse-blue-box {
      right: auto;
      width: 65vw;
      min-height: 70vh;
      margin-left: 0px;
      margin-top: 0px; }
      .clubhouse-blue-box .white-line {
        left: -10vw;
        width: 90%; } }

#companyinfo-section h1, #companyinfo-section h3, #companyinfo-section p {
  color: white;
  text-align: center; }

#companyinfo-section p {
  padding: 40px;
  padding-bottom: 200px; }

.companyinfo-body-container {
  background-color: #000333;
  width: 95vw;
  position: relative;
  margin: 0 auto auto auto;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .companyinfo-body-container {
      width: 100%; } }

.companylogo {
  vertical-align: top;
  padding-top: 40px;
  display: inline-block;
  margin: 20px; }

.companylogo:last-child {
  right: 0; }

.disclaimer {
  text-align: center; }

#designerprofile-section h1, #designerprofile-section h2, #designerprofile-section h3, #designerprofile-section h4 {
  text-align: center;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh; }

#designerprofile-section .link-menu {
  position: absolute;
  border-bottom: 1px solid black;
  right: 0;
  padding-right: 8px;
  bottom: 150px; }
  @media only screen and (max-width: 1024px) {
    #designerprofile-section .link-menu {
      top: 550px;
      bottom: auto; } }

.background-image {
  height: 80vw;
  min-height: 50vh;
  max-width: 120%;
  position: absolute; }
  @media only screen and (max-width: 1024px) {
    .background-image {
      min-height: 500px; } }

.description-gray-box {
  min-width: 80vw;
  min-height: 750px;
  align-self: center;
  background-color: #e6e6e6;
  margin-top: 60vw;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
  padding-top: 40px; }
  @media only screen and (max-width: 1024px) {
    .description-gray-box {
      margin-top: 500px;
      margin-right: 0;
      min-height: 550px; } }

.profile-blue-box {
  width: 500px;
  height: 750px;
  align-content: center;
  top: -90px;
  display: inline-block;
  margin: auto 40px 40px 40px;
  padding: 40px; }
  .profile-blue-box .white-line {
    left: -10vw;
    width: 125%; }
  .profile-blue-box h1, .profile-blue-box h2, .profile-blue-box h3, .profile-blue-box h4 {
    color: white; }
  @media only screen and (max-width: 1024px) {
    .profile-blue-box {
      width: 400px;
      height: 650px;
      margin-left: -40px;
      top: -460px; }
      .profile-blue-box .white-line {
        left: -10vw;
        width: 100%; } }

.designer-photo {
  position: relative;
  display: block;
  width: 60%;
  margin: 30px auto 30px auto; }

/* * * * * * * * * * * * * * * * * * * * * * *
 * erase-shifted-offset:
 *  An empty box with predefined size
 *  so that the original space occupied by
 *  the profile box can be used.
 * * * * * * * * * * * * * * * * * * * * * * */
.erase-shifted-offset {
  float: left;
  width: 540px;
  height: 660px;
  margin-right: 40px; }
  @media only screen and (max-width: 1024px) {
    .erase-shifted-offset {
      width: 360px;
      height: 190px; } }

.designer-description-text {
  vertical-align: top;
  position: relative;
  padding-bottom: 50px;
  padding-right: 40px; }
  @media only screen and (max-width: 1024px) {
    .designer-description-text {
      clear: left;
      padding: 40px; } }

#map-section h1, #map-section h2, #map-section h3, #map-section h4, #map-section h5 {
  color: white;
  text-align: left; }

#map-section h1 {
  margin-top: 70px; }

.map-container {
  display: inline-block;
  vertical-align: top;
  background-color: #e6e6e6;
  width: 65%;
  min-width: 400px;
  height: 800px;
  min-height: 90vh; }
  @media only screen and (max-width: 1024px) {
    .map-container {
      width: 100%;
      height: 60vh;
      min-height: 60vh; } }

.map-info {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  height: 800px;
  min-height: 90vh;
  background-color: #000333;
  padding-left: 80px;
  padding-bottom: 60px; }
  @media only screen and (max-width: 1024px) {
    .map-info {
      width: 100%;
      min-height: 60vh; } }
  .map-info .white-line {
    width: 100%; }

#panorama-section .title-center {
  position: relative;
  margin: auto; }

.panorama-image-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden; }

.panorama-background-image {
  flex: none;
  position: absolute;
  height: 100vh;
  width: 100%; }
  @media only screen and (max-width: 1024px) {
    .panorama-background-image {
      width: auto; } }
  @media only screen and (max-width: 1024px) {
    .panorama-background-image {
      height: 100%;
      width: auto; } }

.panorama-content {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%; }

.panorama-button-group {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 20px; }

.panorama-button {
  display: inline-block;
  width: 150px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  padding: 10px;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5; }
  @media only screen and (max-width: 1024px) {
    .panorama-button {
      width: 100px; } }

#portfolio-section h1 {
  color: white; }

.portfolio-header {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #000333; }
  @media only screen and (max-width: 1024px) {
    .portfolio-header {
      margin-top: 2px; } }

.portfolio-image-container {
  text-align: center;
  padding-top: 2px; }

.portfolio-image {
  width: 33.3%;
  height: 60vw;
  display: inline-block;
  vertical-align: top; }

.portfolio-image:first-child {
  left: 0; }

.portfolio-image:last-child {
  right: 0; }

#register-section h3, #register-section h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

#register-section h3 {
  color: #000333; }

#register-section h4 {
  color: white;
  text-align: center; }

.register-body-container {
  padding: 20px;
  background-color: #999999;
  height: 100%;
  text-align: center; }

.register-button {
  border: 1px solid white;
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
  margin: auto auto 30px auto; }
